<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Points display|| GUDLFT</title>
</head>
<body>
    <h2>Points display for all clubs :</h2>
    <table id="points-table">
        <thead>
            <tr>
                <th>Club Name</th>
                <th>Points Available</th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
            <tr>
                <td>{{ club['name'] }}</td>
                <td>{{ club['points'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>